.services-section {
  width: 100%;
  padding: 80px 0;
  background-color: #ffffff;
  text-align: center;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: nowrap; /* за замовчуванням рядок */
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.service-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #F2F2F2;
  transition: all 0.3s ease;
  cursor: pointer;
}
.services-scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.services-grid {
  display: flex;
  gap: 2rem;
  min-width: max-content; // Щоб працювало на мобілках
  justify-content: flex-start;

  .service-item {
    flex: 0 0 auto; // Щоб не стискалося при скролі
  }
}

.service-circle:hover {
  border-color: #F69400;
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.service-photo-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.service-circle:hover .service-photo {
  transform: scale(1.05);
}

.service-name {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #333;
  margin: 15px 0 0;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .contact-section {
    flex-direction: column;

    .contact-image,
    .contact-form {
      flex: unset;
      width: 100%;
    }

    .contact-image {
      min-height: 300px;

      .contact-info {
        padding: 1.5rem;
        margin-left: 0;
        max-width: 100%;
      }
    }

    .contact-form {
      padding: 2rem 1.5rem;

      .vertical-text {
        position: static;
        transform: none;
        writing-mode: vertical-lr;
        text-align: center;
        margin-bottom: 1rem;
        color: #243665;
        font-weight: bold;
        font-size: 1.2rem;
      }

      form {
        .form-row {
          flex-direction: column;

          input {
            width: 100%;
          }
        }

        textarea {
          width: 100%;
        }

        button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
